@page "{country}/{city}"
@model Cyanometer.Web.Pages.LocationModel
@{
    ViewData["Title"] = "Location";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="cyan-display" class="ta-center">
    <div data-reactroot="">
        <div id="mainDisplay" class="cyan-display-main">
            <div class="time">
                <span id="mainLocation"></span>
                <br />
                <span id="mainTakenAt"></span>
            </div>
            <div class="archive">
                <a id="archive">BROWSE ARCHIVE</a>
            </div>
            <div class="blueness">
                <span>BLUENESS INDEX</span>
                <br />
                <span>LAST 3 HOURS</span>
            </div>
        </div>
        <section class="wrapper-large" id="thumbnails-wrapper">
            <div id="thumbnails1" class='grid grid--medium thumbnails'>
            </div>
            <div id="thumbnails2" class='grid grid--medium margin-top thumbnails'>
            </div>
        </section>
    </div>
</section>

<hr />
<section class="wrapper-large about ta-center">
    <p>
        The cyanometer was invented by Geneva-based scientist Horace Benedict de Saussure in 1789. He systematically documented the blueness of the sky with his cyanometer, a simple circular tool with 53 shades of blue. He concluded that blueness is influenced by both moisture and the amount of suspended particles in the air.
        <br />
        <br />
        The Cyanometer by Martin Bricelj Baraga is inspired by the original cyanometer. De Saussure’s blue color wheel forms the core of the monument, gently directing our gaze back to the sky. The monolith gathers data of the blueness of the sky and the quality of air and visualises them, thus becoming an instrument which raises awareness on the quality of one of the crucial elements of life. In a cloud based world, the only clouds that really matter are the ones we see in the sky
    </p>

    <p class="fw-bold more"><a href="/about">VIEW PROJECT INFORMATION</a></p>
</section>

<section class="about-image ta-center">

    <img src="/images/cyanometer-1200.jpg" />
    <p>
        In @Model.Country, the Cyanometer gathers air quality measurement data from the @Model.AirQualitySource measuring station. The Cyanometer displays the air pollution level on a color scale from red to green and points out the main pollutant in case of pollution in real time. A color scale from green to red visualises the air quality level.
        In the case of increased levels of concentrations, three different icons indicate the main pollutant source, while the fourth one indicates the essential condition connected to elevated ozone concentrations.
    </p>

</section>

<section class="wrapper-large hr">
    <hr class="grey-hr" />
</section>

<section id="cyan-environmental-data" class="wrapper-large ta-center">
    <div id="environmental-data" class="environmental-data" style={divStyle}>
        <h4 class="section-title">Current Data</h4>
    </div>
</section>

<section id="air-pollution-index" class="wrapper-large ta-center">
    <h4 class="section-title">Pollution Index</h4>
    <div id="ap-index-wrapper" class="grid grid--medium">
        <div class="ap-index-colour green"></div>
        <div class="ap-index-colour yellow"></div>
        <div class="ap-index-colour orange"></div>
        <div class="ap-index-colour red"></div>
    </div>
    <div id="ap-index-wrapper" class="grid grid--medium">
        <div class="ap-index-colour">LOW</div>
        <div class="ap-index-colour">MODERATE</div>
        <div class="ap-index-colour">HIGH</div>
        <div class="ap-index-colour">VERY HIGH</div>
    </div>

    <p class="ap-caveat"></p>
</section>

<section class="wrapper-large hr">
    <hr class="grey-hr" />
</section>

<section id="cyan-measurements-wrapper" class="wrapper-large ta-center">
    <div id="cyan-measurements">
        <div class="cyan-measurements">
            <h4 class="section-title">Measurements</h4>
            <table>
                <tbody>
                    <tr>
                        <td class="right-border">Pollutant</td>
                        <td>Ozone (O<sub>3</sub>)</td>
                        <td>Particles (PM<sub>10</sub>)</td>
                        <td>Sulfur Dioxide (SO<sub>2</sub>) </td>
                        <td>Nitrogen Dioxide (NO<sub>2</sub>) </td>
                    </tr>
                    <tr class="spacer">
                        <td class="right-border"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right-border">Concentration</td>
                        <td class="concentration">@Model.Pollution.Ozone &micro;g/m³</td>
                        <td class="concentration">@Model.Pollution.PM10 &micro;g/m³</td>
                        <td class="concentration">@Model.Pollution.SO2 &micro;g/m³</td>
                        <td class="concentration">@Model.Pollution.NO2 &micro;g/m³</td>
                    </tr>
                    <tr class="spacer">
                        <td class="right-border"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right-border">Main Source</td>
                        <td>/</td>
                        <td>Residential Wood Burning</td>
                        <td>Industry</td>
                        <td>Traffic</td>
                    </tr>
                    <tr>
                        <td class="right-border"></td>
                        <td class="table-icon"><img src="/images/cyano_icons_web_sun.svg" /></td>
                        <td class="table-icon"><img src="/images/cyano_icons_web_house.svg" /></td>
                        <td class="table-icon"><img src="/images/cyano_icons_web_factory.svg" /></td>
                        <td class="table-icon"><img src="/images/cyano_icons_web_car.svg" /></td>
                    </tr>
                </tbody>
            </table>
            <p className="measurements-caveat">*Particles with aerodynamic diameter less than 10 µm.</p>
        </div>
    </div>
    <p class="measurements-caveat">Cyanometer collects data from the @Model.AirQualitySource measuring site. If the diagram is off, data is not available. In case of cloudy weather the level of blueness may deviate.</p>
    <hr class="grey-hr" />
    <p>MORE: <a class="measurements-link" href="@Model.AirQualityLink">@Model.AirQualityHost</a></p>
</section>


<section id="credits" class="wrapper-large ta-center fs-small">
    <h4 class="section-title">Credits</h4>
    <p>
        <span class="contributor">Martin Bricelj Baraga</span> concept & artistic direction • <span class="contributor">Igor Vuk</span> technical design & production • <span class="contributor">Neja Tomšič</span> production & texts •
        <span class="contributor">Marjan Omanovič</span> installation build up • <span class="contributor">Miha Markič</span> programming •
        <span class="contributor"><a href="https://cenatus.org">Matt Spendlove</a></span> web programming • <span class="contributor">Vishal Kassie</span> website design •
        <span class="contributor">Domen Dimovski 3D design</span> • <span class="contributor">Katja Pahor</span> design •
        <span class="contributor">Gašper Torkar</span> sound design
    </p>
    <ul>
        <li>Production: <span class="fw-bold">MoTA – Museum of Transitory Art</span></li>
        <li>Supported by:</li>
        <li>Partner: <span class="fw-bold">Mestna občina Ljubljana – Zelena prestolnica Evrope 2016, ARSO – Agencija Republike Slovenije za okolje</span></li>
        <li>Co-financed by: <span class="fw-bold">Ministrstvo za kulturo, Turizem Ljubljana</span></li>
        <li>Sponsor: <span class="fw-bold">Energetika Ljubljana</span></li>
    </ul>
    <p>The Cyanometer project was developed within the <span class="fw-bold">ARTECITYA</span> network, devoted to artistic and technological innovations with the aim of improving the quality of life in cities and is co-financed by the <span class="fw-bold">Creative Europe</span>.</p>
</section>

<section id="partners" class="wrapper-large">
    <img src="/images/partner_logos.svg" />
</section>

@section Scripts
{
    <script type="text/javascript">
        var loadedImages = 0;
        const dateMask = "DD.MM.YYYY HH:mm";
        var images;
        var mainImage;
        var mainImageIndex;
        var averageBlueness;
        var tlm = new TimelineMax({ repeat: -1, repeatDelay: 0.2, yoyo: true });
        // menu stuff
        var trigger;
        var label;

        $(function () {
            insertPolutionData('@Model.PollutionIcon', '@Model.PollutionColor', '@Model.PollutionText', '@Model.LevelsText');
            $('.cyan-display-main').css("visibility", "hidden");
            $('.debug.meta li').css("visibility", "hidden");
            $('#thumbnails-wrapper').css("visibility", "hidden");
            $('#menu').css("visibility", "hidden");
            showLoadingGif();
            var url = '/api/images/@Model.Country.ToLower()/@Model.City.ToLower()';
            $.ajax({
                url: url,
                dataType: 'json',
                success: (data) => {
                    images = data.images;
                    averageBlueness = data.averageBlueness;
                    mainImageIndex = 1;
                    mainImage = images[mainImageIndex];
                    populatePie();
                    updateMainImage();
                    $("#archive").attr('href', data.archiveUrl);
                    preloadAllImages(data.images);
                },
                error: (xhr, status, err) => {
                    console.error(url, status, err.toString());
                }
            });
        });

        function updateMainImage() {
            highlightCurrentImage(mainImage);
            $("#mainLocation").text(`${mainImage.city}, ${mainImage.country} SKY`);
            $("#mainTakenAt").text(moment(mainImage.takenAt).format(dateMask));
        }

        function showLoadingGif() {
            $('#cyan-display').css("background", "url(/images/loading.svg) no-repeat center");
            $('#cyan-display').css("height", "300px");
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        function preloadAllImages(images) {
            var row1 = $("#thumbnails1");
            var row2 = $("#thumbnails2");
            images.forEach(function (image, index) {
                loadImage(image, index, row1, row2, images.length);
            });
        }

        const MaxImagesPerRow = 6;
        var loadedImages = [];
        function loadImage(image, index, row1, row2, count) {
            var path = image.thumbnailUrl;
            var takenAt = moment(image.takenAt).format("HH:mm");
            var imageId = `image${image.id}`;
            //$(`<img src="${path}"></img>`).load(function () {
                var div = $(`
<div class="thumbnail-wrapper">
    <div id='${imageId}' class='thumbnail' style="color:white;background-image:url('${path}')" onclick="sliceClick(event, ${index})">
                <p class="time">
                    ${takenAt}
                </div>
    </div>
</div>`);
                var target;
                console.log(`Loading image ${index}`);
                if (index < MaxImagesPerRow) {
                    target = row1;
                } else {
                    target = row2;
                }
                div.appendTo(target);
                loadedImages++;
                if (loadedImages === count) {
                    imagesLoaded();
                }
            //});
        }

        function imagesLoaded() {
            var tl = new TimelineLite();
            $('.cyan-display-main').css("opacity", "0");
            $('.selected-slice').css("opacity", "0.5");
            $('.cyan-display-main').css("visibility", "visible");
            $('#thumbnails-wrapper').css("visibility", "visible");
            $('.debug.meta li').css("visibility", "visible");
            $('#menu').css("visibility", "visible");
            $('#cyan-display').css("background", "white");
            $('#cyan-display').css("height", "auto");

            // $('.cyan-display-main').css("opacity", 1);
            $('.cyan-display-main').css("background", `url(${mainImage.url}) no-repeat`);

            // if (window.mobilecheck()) {
            //   $('.cyan-display-main').css("background-size", "100% 201px");
            // }

            tl.to('.cyan-display-main', 1, { opacity: 1 });
            // tl.from('.cyan-display-main', 0.3, { x: -1200 });

            tl.staggerFrom(".debug.meta li", 0.3, { scale: 0.5, opacity: 0, delay: 0.1, ease: Elastic.easeOut, force3D: true }, 0.1);
            // open menu
            tl.from('#trigger', 0.3, { scale: 0.5, autoAlpha: 0, transformOrigin: "50% 50%", ease: Expo.easeInOut })
            tl.staggerFrom('.item', 0.2, { scale: 0.5, autoAlpha: 0, delay: 0.1 }, 0.05);

            tlm.to(".selected-slice", 0.5, { opacity: 1 });

            tl.staggerFrom(".cyan-display-main .time span", 0.3, { scale: 0.5, opacity: 0, delay: 0.1, ease: Elastic.easeOut, force3D: true }, 0.1)
                .staggerFrom(".cyan-display-main .blueness span", 0.3, { scale: 0.5, opacity: 0, delay: 0.1, ease: Elastic.easeOut, force3D: true }, 0.1)
                .to('.menu-trigger #blueness-label', 0.5, { autoAlpha: 1 })
                .to('.menu-trigger #blueness-label-suffix', 0.5, { autoAlpha: 1 })
                .add(tlm); //nested, looping TLM
        }

        function sliceClick(e, index) {
            e.preventDefault();
            console.log(`yolo on ${index}`);
            mainImageIndex = index;
            mainImage = images[index];

            populatePie();
            updateMainImage();
            imagesLoaded();

            //highlightCurrentImage(index);
            //$('.sector').removeClass('selected-slice');
            //$('.sector').css("opacity", "1");
            //tlm.pause();
            //tlm.clear();
            //console.log(`selecting #image-slice-${mainImage.id}`);
            //$(`#image-slice-${mainImage.id}`).addClass('selected-slice');
            //tlm.restart();
            //tlm.to(".selected-slice", 0.5, { opacity: 1 });
            ////updateMainImage();
            ////$('.cyan-display-main').css("background", `url(${mainImage.url}) no-repeat`);
            ////// open menu
            //var tl = new TimelineLite();
            //tl.from('#trigger', 0.3, { scale: 0.5, autoAlpha: 0, transformOrigin: "50% 50%", ease: Expo.easeInOut })
            //tl.staggerFrom('.item', 0.2, { scale: 0.5, autoAlpha: 0, delay: 0.1 }, 0.05);
            //populatePie();
        }
        var globalPie;
        function populatePie() {
            var matrices = ["0.5,-0.86602,0.86602,0.5,-91.5063509461097,341.5063509461096",
                "0.86602,-0.49999,0.49999,0.86602,-91.50635094610965,158.4936490538903",
                "1,0,0,1,0,0",
                "0.86602,0.5,-0.5,0.86602,158.49364905389052,-91.5063509461097",
                "0.5,0.86602,-0.86602,0.5,341.5063509461096,-91.5063509461097",
                "0,1,-1,0,500.00000000000006,0",
                "-0.5,0.86602,-0.86602,-0.5,591.5063509461097,158.4936490538905",
                "-0.86602,0.5,-0.5,-0.86602,591.5063509461097,341.5063509461096",
                "-1,0,0,-1,500,500",
                "-0.86602,-0.49999,0.49999,-0.86602,341.5063509461097,591.5063509461097",
                "-0.49999,-0.86602,0.86602,-0.49999,158.49364905389024,591.5063509461097",
                "0,-1,1,0,0,500"];
            var pie = `
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-2 -2 504 504" id="menu">
    <g id="itemsContainer">`;
            for (i = 0; i < 12; i++) {
                pie = pie + createSlice(i, images[i], matrices[i]);
            }
            pie = pie + `
    </g>
    <g id="trigger" class="trigger menu-trigger" role="button">
        <circle cx="250" cy="250" r="125"></circle>
        <text xmlns="http://www.w3.org/2000/svg" id="blueness-label" text-anchor="middle" alignment-baseline="central" x="250" y="235" fill="#fff">
            ?
        </text>
        <text xmlns="http://www.w3.org/2000/svg" id="blueness-label-suffix" text-anchor="middle" alignment-baseline="central" x="250" y="285" fill="#fff">
            AVERAGE BLUENESS
        </text>
        <text xmlns="http://www.w3.org/2000/svg" id="label" text-anchor="middle" alignment-baseline="auto" x="250" y="340" fill="#fff">
            -
        </text>
    </g>
</svg>`;
            if (globalPie) {
                console.log("deleting existing pie");
                globalPie.remove();
            }
            globalPie = $(pie);
            globalPie.appendTo($("#mainDisplay"));
            // bind menu
            trigger = document.getElementById('trigger');
            label = trigger.querySelectorAll('#label')[0];
            //set up event handler
            trigger.addEventListener('click', toggleMenu, false);
        }

        function createSlice(index, image, matrix) {
            var foreColor = parseColor(bc[image.bluenessIndex]);
            var title = moment(image.takenAt).format(dateMask) + ", blueness index " + image.bluenessIndex;
            var selectedClass;
            if (index === mainImageIndex) {
                selectedClass = " selected-slice";
            } else {
                selectedClass = "";
            }
            var slice = `
<a onclick='sliceClick(event, ${index})' class="item" id="item-${index + 1}" role="link" tabindex="0"
    transform="matrix(${matrix})" data-svg-origin="250 250" style='color:white'>
    <path id=image-slice-${image.id} fill='${foreColor}' stroke="#111"
            d="M375,250 l125,0 A250,250 0 0,0 466.5063509461097,125.00000000000001 l-108.25317547305485,62.499999999999986 A125,125 0 0,1 375,250"
            class="sector${selectedClass}" >
            <title>${title}</title>
    </path>
    <use xlink:href="#icon-${index + 1}" width="35" height="35" x="437.2762756347656" y="177.63037109375"
        transform="rotate(75 454.7762756347656 195.13037109375)"></use>
</a>\n`;
            return slice;
        }

        function highlightCurrentImage(selectedImage) {
            var bpStyleColour = "#fff";
            if (selectedImage) {
                var bpStyleColour = parseColor(bc[averageBlueness - 1]);
            }

            $('.menu-trigger').attr('fill', bpStyleColour);
            $('.menu-trigger #blueness-label').css('visibility', 'hidden');
            $('.menu-trigger #blueness-label-suffix').css('visibility', 'hidden');
            $('.menu-trigger #blueness-label').text(averageBlueness);
            $('.blueness-swatch li').removeClass('border');
            $('.thumbnail').removeClass('border');
            $(`.blueness-swatch li:nth-of-type(${selectedImage.bluenessIndex})`).addClass('border');
            $('#image' + selectedImage.id).addClass('border');
        }
        function closeMenu() {
            var tl = new TimelineLite();
            svg = document.getElementById('menu');
            items = svg.querySelectorAll('.item');
            tl.to(items, .3, { scale: 0, ease: Back.easeIn }, 0.3)
                .to(trigger, 0.6, { scale: 0.5, transformOrigin: "50% 50%", ease: Expo.easeInOut }, 0)
            label.innerHTML = "+";

            svg.style.pointerEvents = "none";
        }
        function openMenu() {
            var tl = new TimelineLite();
            svg = document.getElementById('menu');
            items = svg.querySelectorAll('.item');
            tl.to(trigger, 0.6, { scale: 1, transformOrigin: "50% 50%", ease: Expo.easeInOut }, 0)
            tl.to(items, 0.2, { scale: 1, ease: Back.easeOut.config(4) }, 0.05);
            // MSP using this open/close animation skews the position of the first segment from 12 o'clock
            // for(var i=0; i<items.length; i++){
            //   tl.to(items[i], 0.7, {rotation:-i*angle + "deg", ease:Bounce.easeOut}, 0.35);
            // }
            label.innerHTML = "-";
            svg.style.pointerEvents = "auto";
        }
        function toggleMenu() {
            if (label.innerHTML !== "+") {
                closeMenu();
            } else {
                openMenu();
            }
        }

        function insertPolutionData(icon, color, pollutionText, levelsText) {
            var info = "";
            if (pollutionText && levelsText) {
                info = `
<p>
    The current level of air pollution is ${pollutionText}
    <br />
    There are increased levels of ${levelsText}
</p>;`;
            }
            var icon;
            switch (icon) {
                case "car":
                    icon = createIconCar(color);
                    break;
                case "factory":
                    icon = createIconFactory(color);
                    break;
                case "house":
                    icon = createIconHouse(color);
                    break;
                case "sun":
                    icon = createIconSun(color);
                    break;
                case "circle":
                    icon = createIconCircle(color);
                    break;
                default:
                    icon = `<p>UNKNOWN AT THIS TIME</p>`;
                    break;
            }
             var html = `
${icon}
${info}`;
            $(html).appendTo("#environmental-data");
        }
    </script>
}